body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "ElMessiri";
  src: local("ElMessiri"),
    url(./assets/fonts/ElMessiri-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "ElMessiri Bold";
  src: local("ElMessiri Bold"),
    url(./assets/fonts/ElMessiri-Bold.ttf) format("truetype");
}
